<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .container { font-family: Arial, sans-serif; padding: 20px; border: 1px solid #ddd; }
        .header { color: #28a745; font-size: 24px; font-weight: bold; }
        .details { margin-top: 20px; border-top: 2px solid #eee; padding-top: 10px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">Order Confirmed!</div>
        <p>Hi <span th:text="${name}">Customer</span>,</p>
        <p>Your order has been placed successfully. Thank you for shopping with us!</p>
        
        <div style="margin-top: 20px; border-top: 1px solid #ddd; padding-top: 10px;">
    <p><strong>Order ID:</strong> #<span th:text="${orderId}"></span></p>
    
    <p th:if="${paymentMode == 'Online'}"><strong>Total Paid:</strong> ₹<span th:text="${amount}"></span></p>
    <p th:if="${paymentMode == 'Cash on Delivery'}"><strong>Total to be Paid:</strong> ₹<span th:text="${amount}"></span></p>
    
    <p><strong>Payment Mode:</strong> <span th:text="${paymentMode}"></span></p>
</div>
        
        <p>We will notify you once your items are out for delivery.</p>
        <p>Regards,<br><strong>Ekart Team</strong></p>
    </div>


</body>
</html>